/* game board table styling */

#board td {
    width: 50px;
    height: 50px;
    border: solid 1px #666;
  }


/* pieces are div within game table cells: draw as colored circles based on current player */

.gamePiece {
    margin: 5px;
    width: 80%;
    height: 80%;
    border-radius: 50%;
}

.player1 {
    background-color: red;
}

.player2 {
    background-color: blue;
}

/* top-row is the row of clickable cells to drop pieces into a column */

#top-row td {
  border: dashed 1px lightgray;
}

#top-row td:hover {
  background-color: gold;
}
